{% extends 'base.html' %}
{% block head %}
<title>Profession Pursuit</title>
<link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/256/3850/3850285.png">
<!-- Add Google Fonts for better typography -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="container">
    <h1>Profession Pursuit</h1>
    <img id="banner" src="https://be2a828f-92f1-4aab-8954-50e02668daa3-00-q5m8ajfyn9t9.picard.replit.dev/static/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg" alt="Banner Image">
    <h2>About Profession Pursuit</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue platea dis suscipit auctor metus. Curae ultricies maecenas nam sapien consequat ultricies finibus facilisi. Curabitur adipiscing viverra donec erat dui suspendisse lobortis at habitant. Sapien integer primis nascetur finibus gravida. Conubia tristique potenti sodales faucibus lacus ante libero.
    </p>
    <h2>Open Positions</h2>
    <p>TODO: _SHOW JOBS HERE</p>
    <button>Contact Us</button>
</div>
{% endblock %}
